<!DOCTYPE html>
<html lang="pt-br" ng-app="myapp">
<meta charset="utf-8"/>
<head>
	<title>Cadatro de Hospedes</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="../bower_components/sweetalert/dist/sweetalert.css">


	<!-- JS -->
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/dirPagination.js"></script>
	<script type="text/javascript" src="../js/services/hospedeAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/hospedeController.js"></script>
	<script type="text/javascript" src="../js/services/imobiliariaAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/imobiliariaController.js"></script>
	<script type="text/javascript" src="../js/services/apartamentoAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/apartamentoController.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
	<script type="text/javascript" src="../bower_components/sweetalert/dist/sweetalert.min.js"></script>
</head>
<body>

 	<!-- Navigation Bar - Begin-->
 	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    	<div class="navbar-header">
        
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>

        	<a class="navbar-brand">Controle de Flat</a>
      	</div>

      	<div class="collapse navbar-collapse" id="bar1">
      		<ul class="nav navbar-nav">
              <li><a href="../index.html">Home</a></li>
              <li class="active"><a href="hospede.html">H&oacute;spedes</a></li>
              <li><a href="imobiliaria.html">Imobiliarias</a></li>
      		</ul>
    	</div>
    </nav> 

    <!-- Navigation Bar - End -->
	

	<div class="container">
		<div>
			<div class="panel panel-info" ng-controller="hospedeController">
	  			<div class="panel-heading" align="center">Cadastro de Novos Hospedes</div>
	  			<div class="panel-body">
	    			<form name="hospedeForm" ng-submit="save()">
						<label>Nome</label><br>
						<input type="text" id="nome" class="form-control" ng-model="hospede.nome" required></input>
						<br>
						<label>CPF</label><br>
						<input type="text" id="cpf" class="form-control" ng-model="hospede.cpf" required></input>
						<br>
						<label>Telefone</label><br>
						<input type="text" id="telefone" class="form-control" ng-model="hospede.telefone" required></input>
						<br>
						<label>Selecione um Apartamento</label><br>
						<div  ng-controller="apartamentoController">
							<div ng-init="list()">
								<select class="form-control" ng-model="hospede.apartamento.apartamento" required>
									<option ng-repeat="apartamento in apartamentos" 
										value="{{apartamento}}" >{{apartamento.numeroApto}}</option>
								</select>
  							</div>
						</div>
						<br>
						<label>Selecione um Imobiliaria</label>
						<div  ng-controller="imobiliariaController">
							<div ng-init="listName()">
								<select class="form-control" ng-model="hospede.imobiliaria.imobiliaria" required>
									<option ng-repeat="imobiliaria in imobiliarias" 
										value="{{imobiliaria}}">{{imobiliaria.nome}}</option>
								</select>
  							</div>
						</div>
						<br>
						<button type="submit" class="btn btn-primary">Cadastrar</button>
					</form>
	  			</div>
			</div>
		</div>
	</div>

 	<!-- Navigation Bar Footer - Begin -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-right">
				<p>Sistema de Controle de Flat - Development by <a href="#">alexcoimbra12</a></p>
			</div>
		</div>
	</div>
	<!-- Navigation Bar Footer - End -->
</body>
</html>