<!DOCTYPE html>
<html lang="pt-br" ng-app="myapp">
<head>
	<title>Hospedes</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- JS -->
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/dirPagination.js"></script>
	<script type="text/javascript" src="../js/services/hospedeAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/hospedeController.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>

	<!-- Navigation Bar - Begin -->
 	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    	<div class="navbar-header">
        
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>

        	<a class="navbar-brand">Controle de Flat</a>
      	</div>

      	<div class="collapse navbar-collapse" id="bar1">
      		<ul class="nav navbar-nav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="hospede.html">H&oacute;spedes</a></li>
              <li class="active"><a href="imobiliaria.html">Imobiliarias</a></li>
      		</ul>
    	</div>
    </nav> 
    <!-- Navigation Bar - End -->
	
	<div class="jumbotron">
		<div class="container" align="center">
			<h1>Imobili&aacute;rias</h1>
			<p>Cadastre, Altere e Vizualize suas Imobili&aacute;rias</p>
		</div>
	</div>


   <!-- Options: Cadastrar, Editar, Pesquisar Begin-->
	<div class="pager">
    	<div class="col-md-4">
    		<a href="cadastrarImobiliaria.html" class="img-rounded">
      			<img src="../img/add.png" alt="teste">
    		</a><br><br>
    		<div class="caption">
    			<label>Cadastrar Imobiliaria</label>
    		</div>
    	</div>

	    <div class="col-md-4">
	    	<a href="editarImobiliaria.html" class="img-rounded">
	      			<img src="../img/edit.png" alt="teste">
	    	</a><br><br>
	    	<div class="caption">
	    		<label>Editar Imobiliaria</label>
	    	</div>
	    </div>

	    <div class="col-md-4">
	    	<a href="searchImobiliaria.html" class="img-rounded">
	      			<img src="../img/search.png" alt="teste">
	    	</a><br><br>
	    	<div class="caption">
	    		<label>Procurar Imobiliarias</label>
	    	</div>
	    </div>
     <!-- Options: Cadastrar, Editar, Pesquisar End -->
    </div>
 	
	<!-- Navigation Bar Footer - Begin -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-right">
				<p>Sistema de Controle de Flat - Development by <a href="#">alexcoimbra12</a></p>
			</div>
		</div>
	</div>
	<!-- Navigation Bar Footer - End -->	

</body>
</html>