<!DOCTYPE html>
<html lang="pt-br" ng-app="myapp">
<head>
	<title>Consumo API</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- JS -->
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/services/hospedeAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/hospedeController.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	
	<!-- Navigation Bar - Begin-->
 	<nav class="navbar navbar-inverse" role="navigation">

    	<div class="navbar-header">
        
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>

        	<a class="navbar-brand">Controle de Flat</a>
      	</div>

      	<div class="collapse navbar-collapse" id="bar1">
      		<ul class="nav navbar-nav">
              <li class="active"><a href="../index.html">Home</a></li>
              <li><a href="hospede.html">H&oacute;spedes</a></li>
              <li><a href="imobiliaria.html">Imobiliarias</a></li>
      		</ul>
    	</div>
    </nav> 
    <!-- Navigation Bar - End-->


    <!-- Tabele with data of request WebService - Begin-->
	<div ng-controller="hospedeController">
	
		<button type="button" class="btn btn-default" ng-click="list()">Verificar Hospedes</button>
		<br><br>
		<div class="container">
			<table class="table">
				<tr>
					<th>Nome</th>
					<th>CPF</th>
					<th>Telefone</th>
					<th>A&ccedil;&atilde;o</th>
				</tr>
				<tr ng-repeat="hospede in hospedes">
					<td>{{hospede.nome}}</td>
					<td>{{hospede.cpf}}</td>
					<td>{{hospede.telefone}}</td>
					<td>
						<button type="button" class="btn btn-warning">Editar</button>
						<button type="button" class="btn btn-danger">Deletar</button>
					</td>
				</tr>
			</table>
		</div>
	</div>
	<!-- Tabele with data of request WebService - End-->

	<!-- Navigation Bar Footer - Begin -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-left">
				<p>Sistema de Controle de Flat</p>
			</div>
			<div class="navbar-text pull-right">
				<p>Development by <a href="#">alexcoimbra12</a></p>
			</div>
		</div>
	</div>
	<!-- Navigation Bar Footer - End -->	
</body>
</html>