<!DOCTYPE html>
<html lang="pt-br" ng-app="myapp">
<head>
	<title>Consumo API</title>
	<!-- CSS -->
	<link rel="stylesheet" type="text/css" href="../bower_components/bootstrap/dist/css/bootstrap.min.css">

	<!-- JS -->
	<script type="text/javascript" src="../bower_components/angular/angular.min.js"></script>
	<script type="text/javascript" src="../js/app.js"></script>
	<script type="text/javascript" src="../js/services/imobiliariaAPI.js"></script>
	<script type="text/javascript" src="../js/controllers/imobiliariaController.js"></script>
	<script type="text/javascript" src="../bower_components/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="../bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
</head>
<body>
	
	<!-- Navigation Bar - Begin-->
 	<nav class="navbar navbar-inverse navbar-static-top" role="navigation">

    	<div class="navbar-header">
        
        	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bar1">
            	<span class="sr-only">Toggle navigation</span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
            	<span class="icon-bar"></span>
        	</button>

        	<a class="navbar-brand">Controle de Flat</a>
      	</div>
      	
      	<div class="collapse navbar-collapse" id="bar1">
      		<ul class="nav navbar-nav">
              <li><a href="../index.html">Home</a></li>
              <li><a href="hospede.html">H&oacute;spedes</a></li>
              <li class="active"><a href="imobiliaria.html">Imobiliarias</a></li>
      		</ul>
    	</div>
    </nav> 
    <!-- Navigation Bar - End-->

    <div ng-controller="imobiliariaController">
   	<!-- Search input - Begin -->
	   	<div class="row">
			<div class="container">
			  	<div class="col-lg-12">
			       	<div class="input-group">
			      		<input type="text" class="form-control" placeholder="Digite o nome da Imobiliaria">
			      		<span class="input-group-btn">
			        		<button class="btn btn-default" type="button" ng-click="list()" onclick="showDiv();">Buscar</button>
			     		</span>
			    	</div>
			  	</div>
			</div>
		</div>
	<!-- Search input - Begin -->

		<div  class="col-lg-12" align="center">
			<div class="container" id="divResult" style="display: none;">
				<table class="table">
					<tr>
						<th>Nome</th>
						<th>Endere&ccedil;o</th>
						<th>Nome Corretor</th>
						<th>Numero Creci</th>
						<th>Telefone para Contato</th>
						<th>A&ccedil;&atilde;o</th>
					</tr>
					<tr ng-repeat="imobiliaria in imobiliarias">
						<td>{{imobiliaria.nome}}</td>
						<td>{{imobiliaria.endereco}}</td>
						<td>{{imobiliaria.nomeCorretor}}</td>
						<td>{{imobiliaria.numCreci}}</td>
						<td>{{imobiliaria.telContato}}</td>
						<td>
							<button type="button" class="btn btn-warning">Editar</button>
							<button type="button" class="btn btn-danger">Deletar</button>
						</td>
					</tr>
				</table>
			</div>
		</div>
	</div>
	<!-- Navigation Bar Footer - Begin -->
	<div class="navbar navbar-inverse navbar-fixed-bottom" role="navigation">
		<div class="container">
			<div class="navbar-text pull-right">
				<p>Sistema de Controle de Flat - Development by <a href="#">alexcoimbra12</a></p>
			</div>
		</div>
	</div>
	<!-- Navigation Bar Footer - End -->	

	<script type="text/javascript">
		function showDiv() {
			document.getElementById('divResult').style.display = "inline";
		}
	</script>
</body>
</html>